
  <div class="container"><div class="jumbotron"> <h2 align="center">Edit Products here... </h2> 
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
      
      <label for="text">ID :</label>
      
      <input type="text" class="form-control" formControlName="firstName"
      id="firstName" />
      
      <div *ngIf="submitted && editForm.controls.firstName.errors" class="error">       
      <div class="text-danger" *ngIf="editForm.controls.firstName.errors.required">
      
      ID is required ..
      
      </div>
      
      </div>
      <label for="lastName"> Name : </label>
      <input type="text" class="form-control" formControlName="lastName"
      id="lastName" />
      
      <div *ngIf="submitted && editForm.controls.lastName.errors" class="error">
      
      <div class="text-danger" *ngIf="editForm.controls.lastName.errors.required">
      
      Name is required ..
      
      </div>
      
      </div>
      <label for="email"> Description : </label>
      <input type="text" class="form-control" formControlName="email"
      id="email" />
      
      <div *ngIf="submitted && editForm.controls.email.errors" class="error">
      
      <div class="text-danger" *ngIf="editForm.controls.email.errors.required">
      
      Description is required ..
      
      </div>
      
      </div>

      <label for="price"> Price : </label>
      <input type="text" class="form-control" formControlName="price"
      id="price" />
      
      <div *ngIf="submitted && editForm.controls.price.errors" class="error">
      
      <div class="text-danger" *ngIf="editForm.controls.price.errors.required">
      
      Price is required ..
      
      </div>
      
      </div>
      
      </div>
      
      <button class="btn btn-success">Edit</button> &nbsp;&nbsp;&nbsp;
      
      <button class="btn btn-danger" type="reset">Reset</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-warning"[routerLink]="['/list-user']" >Go to List</button> 
      </form>
      </div>
    </div>